html,
body
    box-sizing: border-box
    background: $bodyBgColor
    color: $baseFontColor
    line-height: 1.6
    font-size: $baseFontSize
    font-family: $baseFontFamily

*
    box-sizing: inherit
    &:before,
    &:after
        box-sizing: inherit
